body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#configDiv {
  padding-left: 7px;
  /* border: 1px solid rgb(217, 217, 217); */
  text-align: left;
  margin-top: -14px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: white;
  font-family: "Comic Sans MS";
  color: #40a9ff;
  /* font-weight: bold; */
}
#font {
  font-family: "Comic Sans MS";
  font-size: 80%;
}
